<?xml version="1.0"?>
<model>
  <name>vex-field</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Kylie H</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    Push Back field for ROS 2 Jazzy simulation.
  </description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>